body {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

:root {
  --color_primary: #4895ef;
  --color_danger: #d62839;
  --color_danger_dark: #a4161a;
  --color_white: #FFFFFF;
  --color_bg_shade: #f1f3f4;
  --color_success: #38b000;
  --color_success_dark: #156064;
  --color_warning: #f7ff26;
  --color_warning_dark: #ffaa00;
  --color_text: #3c4043; 
  --color_secondary_text: #5f6368;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color_dark);
}

p {
  margin: .5rem;
}

.btn_filled {
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color_white);
  background-color: var(--color_primary);
  border-radius: .5rem;
}
