body {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

:root {
  --color_primary: #4895ef;
  --color_danger: #FF4365;
  --color_danger_dark: #a4161a;
  --color_white: #FFFFFA;
  --color_success: #00c49a;
  --color_success_dark: #156064;
  --color_warning: #f7ff26;
  --color_warning_dark: #ffaa00;
  --color_dark: #1E1E24; 
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color_dark);
}

p {
  margin: .8rem .5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navbar_item {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn_filled {
  border: none;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--color_white);
  background-color: var(--color_primary);
  border-radius: .5rem;
}
