.apartment_card {
    width: 20rem;
    height: 100%;
    margin: 1rem;
    font-size: 1rem;
    user-select: none;
    background-color: var(--color_white);
    box-shadow: .1rem .1rem 1rem grey;
    border-radius: .5rem;
}

.apartment_image {
    width: 100%;
    height: 40%;
    position: relative;
}

.apartment_image img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: .5rem .5rem 0rem 0rem;
}

.apartment_details {
    position: relative;
    font-size: .9rem;
    padding: 1rem 0rem;
}

.sales_tag {
    position: absolute;
    bottom: -1.4rem;
    right: 0rem;
}

.apartment_price {
    color: var(--color_primary);
    font-size: 1.2rem;
}

.apartment_price, 
.apartment_desc,
.location_details {
    padding: 0rem .5rem;
}

.apartment_desc {
    text-transform: capitalize;
}

.location_details {
    display: flex;
    flex-direction: row;
    color: grey;
}

.location_details i {
    padding: .2rem;
    margin: auto .1rem;
    font-size: 1rem;
    color: var(--color_success);
}

.apartment_address {
    font-size: .9rem;
    color: var(--color_secondary_text);
    user-select: all;
}