.search_apartment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem;
}

.form_field {
    margin: 1rem 0rem;
    text-align: center;
}

.property_types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.property_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 8rem;
    height: 5rem;
    margin: .8rem;
    cursor: pointer;
    background-color: var(--color_white);
    border-radius: .5rem;
}

.selected {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    padding: .1rem;
    font-size: .9rem;
    display: none;
    color: var(--color_white);
    background-color: var(--color_primary);
    border-radius: 50%;
}

.property_type img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin: .2rem 0rem;
}

.property_type p {
    width: 100%;
    text-align: center;
    font-size: .9rem;
    margin: .2rem 0rem;
}

.form_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    margin: .5rem;
    padding: .5rem 2rem;
}