@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen/Sen-Regular.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Sen";
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

h3 {
  font-weight: 900;
  line-height: 1;
  font-size: 1.5rem;
}

:root {
  --color_primary: #4895ef;
  --color_primary_dark: #0d7eff;
  --color_danger: #d62839;
  --color_white: #FFFFFF;
  --color_bg_shade: #f8f9fa;
  --color_success: #38b000;
  --color_warning: #ffb703;
  --color_text: #5e5f62; 
  --color_secondary_text: #0b1d39;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color_dark);
  font-size: 1rem;
  margin: auto;
  height: fit-content;
}

.title {
  margin: .5rem;
  font-size: 1.5rem;
  color: var(--color_secondary_text);
}

.para {
  font-size: 1rem;
  color: var(--color_text);
}

.btn_filled,
.btn_outlined {
  font-family: "Sen";
}

.btn_filled {
  border: none;
  padding: .6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Sen";
  color: var(--color_white);
  background-color: var(--color_primary);
  border-radius: .5rem;
}

.btn_outlined {
  border: .1rem solid var(--color_primary);
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Sen";
  color: var(--color_text);
  background-color: inherit;
  border-radius: .2rem;
}

.btn_filled:hover,
.btn_outlined:hover {
  color: var(--color_white);
  background-color: var(--color_primary_dark);
  transition: ease-in-out 500ms;
}
