.navbar {
    margin: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    color: var(--color_text);
}

.navbar_items {
    margin: 1rem;
    padding: 0rem;
}

.navbar, .navbar_items {
    display: flex;
    flex-direction: row;
}

.navbar_item {
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    border-bottom: .2rem solid transparent;
}

.navbar_item:hover {
    color: var(--color_primary);
    transition: ease-in-out 500ms;
}

.signup_btn {
    margin: 2rem 0rem;
    padding: .8rem 1rem;
    border-radius: .5rem;
    color: var(--color_white);
    background-color: var(--color_primary);
}


