.landing_page {
    width: 100%;
}

.featured_apartments {
    margin: 1rem;
}

.featured_apartments .title {
    margin: 4rem auto;
    text-align: center;
}

.apartment_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}