.landing_page {
    width: 100%;
}

/* Start of Header */
header {
    margin-bottom: 4rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 2rem auto;
}

.navbar_item {
    margin: 1rem;
}

.display {
    position: relative;
    height: 40rem;
} 

.display img {
    position: absolute;
    right: 0rem;
    width: 90%;
    height: 100%;
    margin: 1rem;
    object-fit: cover;
    border-radius: .2rem;
}

.display .box_decorator {
    position: absolute;
    top: 5rem;
    left: .5rem;
    width: 80%;
    height: 50%;
    color: var(--color_white);
    background-color: var(--color_primary);
    border-radius: .2rem;
}

.display .box_decorator p {
    position: absolute;
    top: 40%;
    left: 5rem;
    width: 100%;
    font-size: 3rem;
}
/* End of Header */

.featured_apartments {
    margin: 1rem;
    color: var(--color_text);
}

.featured_apartments .title {
    margin: 1rem;
    text-align: center;
}

.featured_apartments .sub_title {
    font-size: 1.5rem;
}

.apartment_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .display .box_decorator {
        width: 50%;
    }
}