.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: auto;
    padding: .5rem;
    color: var(--color_text);
    box-shadow: .1rem .1rem .5rem grey;
}

.footer_link {
    font-size: .95rem;
    margin: .8rem .5rem;
}

.featured_posts {
    flex: 1;
    margin: 0rem 4rem;
}

.featured_posts .title {
    margin: .5rem;
    font-weight: 400;
}

.featured_post, .post_tags {
    display: flex;
    flex-direction: row;
}

.featured_post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem 0rem;
}

.featured_post img {
    width: 100%;
    height: 100%;
    margin: auto .5rem;
    object-fit: cover;
    border-radius: .2rem;
    box-shadow: .1rem .1rem .5rem grey;
}

.post_tags {
    margin: 1rem .5rem;
}

.post_tag {
    padding: .2rem 1.5rem;
    margin: 0rem 1rem;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--color_white);
    background-color: var(--color_primary);
    border-radius: .2rem;
}

.post_title {
    font-size: 1rem;
    font-weight: 600;
}

.post_desc {
    font-size: .9rem;
}

@media only screen and (min-width: 800px) {
    .featured_post {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .featured_post img {
        width: 8rem;
        height: 8rem;
    }
}



