.navbar {
    margin: 2rem auto;
}

.display {
    position: relative;
    height: 40rem;
} 

.display img {
    position: absolute;
    right: 0rem;
    width: 90%;
    height: 100%;
    margin: 1rem;
    object-fit: cover;
}

.display .box_decorator {
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 80%;
    height: 60%;
    color: var(--color_white);
    background-color: var(--color_primary);
}

.display .box_decorator p {
    position: absolute;
    top: 10%;
    right: -5rem;
    font-size: 4rem;
    font-weight: bolder;
}
