*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1rem 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

.search_bar {
    position: absolute;
    bottom: -2rem;
    margin: 0rem 1rem;
    color: var(--color_dark);
}

.search_actions {
    padding: 0rem;
    margin: 0rem;
}

.search_actions, .search_bar form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search_action {
    padding: 1rem;
    cursor: pointer;
    color: var(--color_dark);
    background-color: var(--color_white);
    border-bottom: .2rem solid transparent;
}

.search_action:hover {
    color: var(--color_primary);
    border-bottom: .2rem solid var(--color_primary);
    transition: ease-in-out 500ms;
}

.search_bar form {
    padding: 1rem;
    background-color: var(--color_white);
    box-shadow: .1rem .1rem 1rem var(--color_dark);
}

.search_category label {
    font-size: .9rem;
}


