
.select_bar {
    position: absolute;
    bottom: -2rem;
    margin: 0rem 1rem;
    color: var(--color_text);
    border-radius: 1rem;
}

.select_options {
    padding: 0rem;
    margin: .1rem 1rem;
}

.select_options, .select_bar form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.option {
    padding: .8rem;
    margin: .5rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--color_dark);
    background-color: var(--color_white);
}

.option:hover {
    color: var(--color_primary);
    transition: ease-in-out 500ms;
}

.selected_option {
    color: var(--color_primary);
    font-weight: 600;
}

.select_bar form {
    padding: 1rem;
    margin: .1rem 1rem;
    font-size: 1rem;
    background-color: var(--color_white);
    box-shadow: .1rem .1rem 1rem gray;
    border-radius: .2rem;

}

.select_category label {
    font-size: .9rem;
}


